<p>
  <b>Url:</b>
  <%=h @urlinfo.url %>
</p>

<p>
  <b>Title:</b>
  <%=h @urlinfo.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @urlinfo.description %>
</p>

<p>
  <b>Content:</b>
  <%=h @urlinfo.content %>
</p>


<%= link_to 'Edit', edit_urlinfo_path(@urlinfo) %> |
<%= link_to 'Back', urlinfos_path %>